body {
    background-color:grey;
    color: #000305;
    font-family:Arial, 'Lucida Sans Unicode';
    font-size:87.5%;
    text-align:left;
    line-height: 1.5;
}
a{
text-decoration: none;

}
a:link, a:visited {
    color:#cf5c3f;

}
a:hover, a:active{
    background-color:#cf5c3f;
    color:#fff;

}
.body {
    margin: 0 auto;
    width: 75%
    clear:both;

}
.mainHeader img{
    width: 50%;
    height: auto;
    margin: 2% 0;

}
#one, #two, #three
{
color:blue;
text-align:center;
margin:0 auto;
}
#one
{
background-color:green;
width:600px;
height:600px;
float:left;
}
#two
{
background-color:white;
width:500px;
height:500px
}
#three
{
background-color:orange;
width:400px;
height:300px;
margin:0 auto;
}
